@import url("https://fonts.googleapis.com/css?family=Muli:400,800&display=swap");
* {
  font-family: "Muli", sans-serif;
}

body {
  background: #001519;
}


button {
  background: transparent;
  min-width: 100px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 15px;
  padding: 10px 16px;
  margin: 0 3px 0 0;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
button:first-of-type {
  border-radius: 20px 8px 8px 20px;
}
button:last-of-type {
  border-radius: 8px 20px 20px 8px;
}

@media only screen and (max-width: 767px) {
  button {
    min-width: 80px;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "profile main main main"
    "profile main main main"
    "profile main main main"
    "profile main main main"
    "quick-nav quick-nav quick-nav quick-nav";
}

.quick-nav {
  grid-area: quick-nav;
  position: fixed;
  bottom: 0;
  width: 100%;
 }

.profile {
  grid-area: profile;
 }

.main { grid-area: main; }
